body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #C7C5BA;
}

header {
   text-align: center;
   color: #424242;
   background-image: url(https://raw.githubusercontent.com/ShinigamiKing562/food-blog/alt/Multimedia%20files/back1.jpg);
   background-size: 280%;
   margin: 0;
   padding: 0;
}

h1 {
  font-size: 120%;
  padding: 3%;
  
}

h2 {
  font-size: 300%;
  padding: 13.5% 13.5% 13.5% 13.5%;
}

h3{
  margin: 26px 0px 26px 0px;
}

hr{
  width: 80%;
  border-color: #fff;
}

main{
  text-align: left;
  font-size: 128%;
  background-image: url(https://raw.githubusercontent.com/ShinigamiKing562/food-blog/alt/Multimedia%20files/back2.jpg);
  background-size: 200%;
  margin: 0;
  padding: 0;
}

h4{
  margin: auto;
  font-weight: lighter;
}

h5{
  margin: 1px;
}

.tipslist{
  border: 1px solid #eaeaea;
  padding: 10px 10px 10px 25px;
  font-size: 76%;
}

.circular-button-forward {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 255, 0.25);
  border: 2px solid rgba(0, 0, 255, 0.5);
  border-radius: 50%;
  animation: neon-glow-border 1s infinite; 
  cursor: pointer;
  padding: 0; 
  outline: none; 
}

.arrow-head-forward {
  position: absolute;
  top: 50%;
  left: 55%; 
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid blue;
  transform: translate(-50%, -50%) rotate(270deg);
}

.circular-button-back {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 255, 0.25);
  border: 2px solid rgba(0, 0, 255, 0.5);
  border-radius: 50%;
  animation: neon-glow-border 1s infinite; 
  cursor: pointer;
  padding: 0; 
  outline: none; 
}

.arrow-head-back {
  position: absolute;
  top: 50%;
  left: 50%; 
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid blue;
  transform: translate(-50%, -50%) rotate(90deg);
}

@keyframes neon-glow-border {
  0% {
    border-color: rgba(0, 0, 255, 0.5);
  }
  50% {
    border-color: rgba(0, 0, 255, 1);
  }
  100% {
    border-color: rgba(0, 0, 255, 0.5);
  }
}
