body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  padding: 3% 3% 3% 3%;
  text-align: center;
}

h1 {
  font-size: 120%;
}

h2 {
  font-size: 300%;
  padding: 13.5% 13.5% 13.5% 13.5%;
}

main{
  text-align: left;
  font-size: 128%;
}

hr{
  width: 80%;
}


h4{
  margin: auto;
  font-weight: lighter;
}

.tipslist{
  border: 1px solid #eaeaea;
  padding: 10px 10px 10px 25px;
}
