body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #C7C5BA;
}

header {
   text-align: center;
   color: #424242;
   background-image: url(/Multimedia\ files/back1.jpg);
   background-size: 280%;
   margin: 0;
   padding: 0;
}

h1 {
  font-size: 120%;
  padding: 3%;
  
}

h2 {
  font-size: 300%;
  padding: 13.5% 13.5% 13.5% 13.5%;
}

hr{
  width: 80%;
  border-color: #fff;
}

main{
  text-align: left;
  font-size: 128%;
  background-image: url(/Multimedia\ files/back2.jpg);
  background-size: 200%;
  margin: 0;
  padding: 0;
}

h4{
  margin: auto;
  font-weight: lighter;
}

.tipslist{
  border: 1px solid #eaeaea;
  padding: 10px 10px 10px 25px;
}
